.btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  height: 100%;
  background-color: map-get($btnColor, "--btn-primary");
  padding: 0 15px;
  //text
  color: map-get($btnColor, "--btn-primary-text");
  font-weight: map-get($fontWeight, "--semi-bold-600");
}

.btn-secondary {
  height: 100%;
  padding: 8px;
  background-color: map-get($btnColor, "--btn-seondary");
}
