.card-block {
  border: 1px solid map-get($pageColors, "--bottom-bar-border");
  position: relative;
  margin-top: 100px;
  padding: 20px 30px;
}

.card-block__label {
  position: absolute;
  top: -20px;
  left: 30px;
  border-radius: 8px;
  padding: 10px;
  background-color: map-get($btnColor, "--btn-primary");
  //text
  color: map-get($btnColor, "--btn-primary-text");
  font-weight: map-get($fontWeight, "--semi-bold-600");
}

.card-container {
  @include flexDirection(null, null, null, null, 20px);
}
