@mixin flexDirection($direction, $wrap, $horizontal, $vertical, $size) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $horizontal;
  align-items: $vertical;
  gap: $size;
}

@mixin fontProperty($fontSize, $fontWeight, $color) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}
